th,td{
    border: 1px solid black;
    text-align: center;
    vertical-align: center;
    padding: 5px;
}
.xyz{
    border-top:1px solid white;
    border-right: 1px solid white;
    border-left:1px solid white ;
    text-align: left;
}
